:root {
    --main-color: #2196F3;
    --secondary-color: #000;
    --third-color: #757575;
    --main-font: 'roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}
body {
    font-family: var(--main-font);
    color: #212121;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.address {
    font-style: normal;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: auto;
    margin: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/* components */
.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em; 
    color: var(--main-color);
}
.section-header  {  
    letter-spacing: 0.03em;
    color: #212121;
}
.section-description {
    letter-spacing: 0.03em;
    color: var(--third-color);
}
.section-top-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* /components */
/* header */
.main-header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
    margin-top: 0;
    margin-bottom: 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navigation {
    display: flex;
}
.logo-top {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
}
.logo-half {
    color: var(--secondary-color);
}
.navigation-pages {
    display: flex;
    margin-left: 93px;
}
.navigation-page {
    display: flex;
}
.navigation-page-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
}
.navigation-page:not(:last-child) {
    margin-right: 50px;
}
.contacts {
    display: flex;
}
.contact:not(:first-child) {
    margin-left: 50px;
}
.contact-link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--third-color);
    align-items: center;
}
.current {
    color: var(--main-color);
}  
.navigation-page-link:hover, 
.navigation-page-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--main-color);
}
.icon {
    margin-right: 10px;
    fill: var(--third-color);
}
.contact-link:hover .icon,
.contact-link:focus .icon {
    fill: var(--main-color);
}
/* /header */
/* hero */
.hero {
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero/hero-background.png) ;
    background-repeat: no-repeat;
    background-size: 1600px;
    background-position: center;
    ;
}
.hero-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}
.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    background: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
.hero-btn:hover,
.hero-btn:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* /hero */
/* advantages */
.our-advantages {
    display: flex;
    justify-content: space-between;
}
.our-advantage {
    width: 270px;
}
.our-advantage-header {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    width: 270px;
    margin-bottom: 10px;
}
.our-advantage-text {
    font-size: 14px;
    line-height: 1.71;
}
.advantage-icons {
    padding-top: 25px;
    padding-bottom: 25px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.advantage-icon {
}    
/* /advantages */
/* examples */
.examples {
    padding-bottom: 94px;
}
.our-examples {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
/* /examples */
/* our team */
.team {
    background: #F5F4FA;
}
.team-units {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.team-unit {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-unit-info {
    padding: 30px 10px 30px 10px;
}
.team-unit-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}
.team-unit-title {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.socials {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
.social-link-item {
    display: flex;
}
.social-link {
    display: flex;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.social-link-item:not(:last-child) {
    margin-right: 10px;
}
.social-link-icon {
    fill: #AFB1B8;
}
.social-link:hover,
.social-link:focus {
    background-color: var(--main-color);
}
.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
    fill: #fff;
}
/* /our team */
/* clients */
.clients {
    padding-top: 58px;
}
.clients-units {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.clients-unit {
    display: flex;
}
.clients-unit:not(:last-child) {
    margin-right: 30px;
}
.clients-link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients-icon {
    fill: #AFB1B8;
}
.clients-link:hover,
.clients-link:focus {
   border: 1px solid var(--main-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--main-color);
}
/* /clients */
/* filter */
.portfolio-filter {
    
}
.portfolio-filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-filter-list-item:not(:last-child) {
    margin-right: 8px;
}
.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
}
.filter-btn:hover,
.filter-btn:focus {
    background: var(--main-color);
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-examples {
    padding-bottom: 80px;
}
.portfolio-examples-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}   
.portfolio-example-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.img {
    display: block;
}
.portfolio-example-description {
    font-size: 16px;
    line-height: 1.87;
}
.portfolio-example-text {
    padding: 20px 24px;
    border: #EEEEEE solid 1px;
    border-top: none;
}
.portfolio-example:nth-child(-n+6) {
    margin-bottom: 30px;
}
.portfolio-example:hover,
.portfolio-example:focus  {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* /filter */
/* footer */
.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: left;
}
.footer-container {
    display: flex;
}
.contacts-container {
    width: 251px;
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    margin-top: 60px;
}

.logo-bot {
    margin-bottom: 20px;
}
.logo-half-dark {
    color: #FFFFFF;
}
.footer-contact-link {
   
}
.footer-contact-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contacts-list {
    
}
.contacts-bot {
   
}
.contact-bot {
    display: flex;
    flex-direction: column;
}
.contact-bot:not(:last-child) {
    margin-bottom: 9px;
}
.map {
    color: #FFFFFF;    
}
.footer-contact-link:hover,
.footer-contact-link:focus {
    color: var(--main-color);
}
.socials-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 72px;
    margin-bottom: 20px;
}
.footer-socials {
    display: flex;
}
.footer-social-link-item {
    display: flex;
    
}
.footer-social-link-item:not(:last-child) {
    margin-right: 10px;
}
.footer-social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social-link-icon {
    fill: #FFFFFF;
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--main-color);
}
/* /footer */